/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font-family: 'IBM Plex mono', sans-serif;
  --main-font-size: 1.125rem;
  --main-font-weight: 700;
  --accent-font-weight: 400;
  --text-color: #f1b2ce;
  --accent-text-color: #db00ff;
  --accent-color: #ff0070;
  --hover-color: #ff007066;
  --main-color: #000028;
  --main-accent-color: #ff0070;
  --bg-img: url(../images/cover-image-dark.png);
}